.modal {
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;

  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);

  max-width: 630px;
  min-width: 320px;
  height: auto;
}

.modal .modal-content {
  -webkit-transform: translateX(5%);
  -moz-transform: translateX(5%);
  -ms-transform: translateX(5%);
  transform: translateX(5%);
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.modal.open .modal-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.modal.open {
  visibility: visible;
}


.modal header {
  background-color: darkred;
  text-align: center;
  color: white;

  padding: 1em;

  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.modal #content {
  padding: 1em;
  background-color: brown;
  color: white;

  margin: 0 auto;

  text-align: center;
}

.modal footer {
  padding: 1em;
  background-color: darkred;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.modal footer a,
.modal footer a:visited {
  display: block;
  width: 250px;
  margin: 0 auto;
  color: brown;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}
