<div id="page">
  <div class="modal">
    <div class="modal-content">
      <header>
        <h2>Sign in</h2>
      </header>
      <div id="content"></div>
      <footer>
        <a href="/join">Sign up</a>
        <a href="/users/password/new">Forgot your password?</a>
      </footer>
    </div>
  </div>
</div>


<link rel="stylesheet" href="/styles/modal.css" />
<link rel="stylesheet" href="/styles/auth-forms.css" />

<script src="<%= hosts.app %>/config.js"></script>
<script type="text/javascript"> require["baseUrl"] = "<%= hosts.app %>"; </script>
<script src="<%= hosts.app %>/vendor/bower/requirejs/require.js"></script>
<script type="text/javascript">
require(['pages/login/login'], function(LoginView){
    new LoginView({el: document.getElementById('content')});
    document.getElementsByClassName('modal')[0].className += " open";
});
</script>
